                        body {
                            margin-top: 20px;
                            background: #eee;
                        }
                        
                        #page-wrapper {
                            padding: 15px 25px;
                        }